* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

.content {
    padding: 20px;
}

.cordinats {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    gap: 10px;
    color: #000000;
}

.cordinatsError {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.magSensorError {
    color: rgb(186, 0, 0);
}